body {
    padding: 2rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23efefef' fill-opacity='0.25'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.blue-purple-text {
    color: #5755d9 !important;
    font-size: 20px;
}

.padding-0 {
    padding: 0px;
}

.padding-10 {
    padding: 10px;
}

.mobile-only {
    display: none;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.avatar.avatar-xl {
    height: 6rem;
    width: 6rem;
}

.btn-lg {
    background: #fff !important;
}

.btn-lg:hover {
    background: #f1f1fc !important;
    -webkit-box-shadow: inset 0 0 0 1px #5755d9, inset 0 0 0 3px transparent;
    box-shadow: inset 0 0 0 1px #5755d9, inset 0 0 0 3px transparent;
}

.popover-container .card {
    border: 1px solid #5755d9;
}

a:visited {
    color: #5755d9 !important;
}

.funky-border {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.funky-border:hover {
    -webkit-box-shadow: 0 0.2rem 0.5rem rgba(87, 85, 217, .3);
    box-shadow: 0 0.2rem 0.5rem rgba(87, 85, 217, .3);
}

.left-border {
    border-left: 6px solid #5755d9;
    padding-left: 10px;
}

.sticky-footer {
   height: 36px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5755d9;
   display: none;
   text-align: center;
}

.sticky-footer a {
   width: 33%;
}

.sticky-footer .btn {
   width: 100%;
}

/* Responsive queries */

@media (max-width: 840px) {
    .mobile-only {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 0px 10px 0px;
    }

    .mobile-margin-top {
        margin-top: 30px;
    }
    .sticky-footer {
        display: block!important;
    }
}

@media (max-width: 430px) {
    .button-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .btn.btn-lg {
        float: left;
        margin-top: 10px;
    }
}
